#header{
    background-color: royalblue;
    color: white;
}
#header>img{
    float: right;
    height: 600px;
    margin-top: -100px;
}
#header>p{
    padding-top: 70px;
    margin-top: -30px;
    font-size: xx-large;
    font-weight: bolder;
    margin-left: 50px;
}
#header>h1{
    margin-left: 50px;
}
#header>h2{
    margin-top: -20px;
    margin-left: 50px;
}
#header>h2{
    padding-bottom: 20px;
    color: black;
}
.button1{
    background-color: white;
    color: royalblue;
   
}