#header{
    background-color: turquoise;
    color: white;
    padding: 70px;

}
#header>img{
    float: right;
    height: 660px;
    padding: 60px;
    margin-top: -350px;
    border-radius: 1000px;
    width: 35%;
    height: 510px;
}
.p1{
    padding-top: 70px;
    margin-top: -30px;
    font-size: xx-large;
    font-weight: bolder;
    margin-left: 50px;
}
#header>h1{
    margin-left: 50px;
}
#header>h2{
    margin-top: -20px;
    margin-left: 50px;
}
#header>h2{
    color: black;
    margin-bottom: 60px;
}
.button1{
    background-color: white;
    color: turquoise;
    width: 20%;
    border-radius: 60px;
    text-align: center;
    font-size: large;
    padding: 20px;
    font-weight: bolder;
    margin-left: 60px;
}
.button2{
    background-color: turquoise;
    color: white;
    width: 20%;
    border-radius: 60px;
    text-align: center;
    font-size: large;
    padding: 20px;
    font-weight: bolder;
    margin-left: 60px;
    border: solid 2px;
    border-color: white;
}
.img2{
    float: left;
    width: 30%;
}
#body>h1{
    text-align: center;
}