#header{
    background-color: turquoise;
    color: white;
    padding: 70px;

}
#header>img{
    float: right;
    height: 660px;
    padding: 60px;
    margin-top: -350px;
    border-radius: 1000px;
    width: 35%;
    height: 510px;
}
.p1{
    padding-top: 70px;
    margin-top: -30px;
    font-size: xx-large;
    font-weight: bolder;
    margin-left: 50px;
}
#header>h1{
    margin-left: 50px;
}
#header>h2{
    margin-top: -20px;
    margin-left: 50px;
}
#header>h2{
    color: black;
    margin-bottom: 60px;
}
.button1{
    background-color: white;
    color: turquoise;
    width: 20%;
    border-radius: 60px;
    text-align: center;
    font-size: large;
    padding: 20px;
    font-weight: bolder;
    margin-left: 60px;
}
.button2{
    background-color: turquoise;
    color: white;
    width: 20%;
    border-radius: 60px;
    text-align: center;
    font-size: large;
    padding: 20px;
    font-weight: bolder;
    margin-left: 60px;
    border: solid 2px;
    border-color: white;
}
.img2{
    float: left;
    width: 40%;
    margin-top: 0px;
    margin-right: 50px;
    border-radius: 0 80px 0px 80px;
    margin-left: 20px;
}
#body>h1{
    text-align: center;
    color: turquoise;
    background-color: black;
    margin-top: 0px;
    padding-left: 500px;
}
#body>h2{

}
.font{
    font-weight: 500;
    font-size: 28px;
    line-height: 40px;
    font-style: oblique;
}
#body{
    background-color: white;
}
strong{
    font-weight: bolder;
}
.Programming{
    font-style: normal;
    font-size: 20px;
    font-weight: lighter;
}
.interestshobbies{
    background-image: url(https://thumbs.dreamstime.com/b/abstract-blue-striped-retro-comic-background-halftone-corners-cartoon-turquoise-stripes-half-tone-pattern-comics-book-162441257.jpg);
    width: 70%;
    display: flex;
}